<h2 align="center">Your results for "{{search}}."</h2>
<div align="center">
  <!-- Posting a link to the results -->
  <a href="https://api.nytimes.com/svc/movies/v2/reviews/search.json?query={{search}}&api-key=Af73fR8RZbfxlADpINF5J61Cj3YRlZkK">Results</a>
</div>
<p align="center">Phone: (412) 721-9985</br>
E-mail: wajorda@pointpark.edu</br>
Youtube: XenoWars --- Discord: XenoWars#2895 --- Twitch: XenoWars1</p>
